azure-cognitiveservices-speech
huggingsound==0.1.6
IPython
ipywidgets
levenshtein
librosa
matplotlib
pandas==1.5.3
phonemizer
protobuf
pydub
python-dotenv
numpy==1.23.5
seaborn
soundfile
torch==1.12.1
torchaudio==0.12.1
transformers
